* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana;
	font-size: 11px;
	color: #333;
}

h1 {
	padding: 10px;
	background: #F1F8FB;
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	color: #34AFDA;
	margin-bottom: 20px;
}

h1 img {
	margin-right: 5px;
	vertical-align: -3px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.header {
	background: url('img/bg_header.jpg') no-repeat top center;
	padding-top: 20px;
}

.logo {
	padding-bottom: 20px;
	float: left;
}

.user {
	float: right;
	width: 280px;
	height: 84px;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #DBEFF6;
	padding: 10px;
}

.user img {
	vertical-align: -3px;
	margin-right: 5px;
}

.user label {
	position: absolute;
	margin: 3px 0 0 -255px;
	color: #CCC;
	cursor: text;
}

.user input {
	border: 1px solid #DBEFF6;
	padding: 2px;
	font-family: Verdana;
	font-size: 11px;
	margin-bottom: 10px;
	position: relative;
	width: 253px;
}

.menu {
	width: 100%;
	border-bottom: 1px solid #34AFDA;
	margin-bottom: 25px;
	padding-bottom: 30px;
	clear: both;
}

.menu ul {
	list-style-type: none;
}

.menu ul li a {
	float: left;
	display: block;
	padding: 0px 20px;
	line-height: 29px;
	margin-right: 5px;
	background: #F1F8FB;
	border-top: 1px solid #34AFDA;
	border-left: 1px solid #34AFDA;
	border-right: 1px solid #34AFDA;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FFF;
	color: #34AFDA;
}

.menu ul li a:hover, .menu ul li a.active {
	background: #fff;
	padding-bottom: 1px;
}

.menu ul li a:active {
	padding-top: 1px;
}

.menu ul li a.active:hover {
	color: #FF6000;
}

.alert-login {
	background: url('img/alert_login.png');
	width: 680px;
	height: 83px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.alert-login p {
	float: left;
	font-family: Arial;
	font-size: 16px;
	line-height: 25px;
	margin: 12px 15px;
}

.alert-login a {
	display: block;
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	background: #FF6000;
	border: 1px solid #c64b00;
	float: right;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px #8d3500;
	padding: 10px 20px;
	margin: 20px 15px;
}

.alert-login a:hover {
	box-shadow: 0 0 5px #FF6000;
}

.box {
	float: left;
	margin-bottom: 20px;
}

.box .line {
	border-bottom: 1px solid #34AFDA;
	margin-bottom: 10px;
}

.box h2 {
	font-weight: bold;
	font-family: Arial;
	font-size: 11px;
	text-transform: uppercase;
	color: #34AFDA;
	margin-bottom: -7px;
	background: #FFF;
	display: inline-block;
	padding-right: 5px;
}

.box3 {
	width: 306px;
	margin-right: 21px;
}

.box3:last-child {
	margin-right: 0;
}