* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana;
	font-size: 11px;
	color: #555;
}

h1 {
	padding: 10px;
	background: #F1F8FB;
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	color: #34AFDA;
	margin-bottom: 30px;
}

h1 img {
	margin-right: 5px;
	vertical-align: -3px;
}

h1 a.add {
	float: right;
	color: #34AFDA;
	text-decoration: none;
}

h1 a.add:hover {
	text-decoration: underline;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.header {
	background: url('img/bg_header.jpg') no-repeat top center;
	padding-top: 20px;
}

.logo {
	padding-bottom: 20px;
	float: left;
}

.user {
	float: right;
	width: 280px;
	height: 84px;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #DBEFF6;
	padding: 10px;
}

.user img {
	vertical-align: -3px;
	margin-right: 5px;
}

.user label {
	position: absolute;
	margin: 3px 0 0 -255px;
	color: #CCC;
	cursor: text;
}

input, select {
	border: 1px solid #DBEFF6;
	padding: 2px;
	font-family: Verdana;
	font-size: 11px;
}

input:focus, select:focus {
	border: 1px solid #34AFDA;
}

input[type=submit] {
	font-family: Arial;
	font-size: 11px;
	color: #34AFDA;
	text-decoration: none;
	font-weight: bold;
	background: #F1F8FB;
	border: 1px solid #34AFDA;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	padding: 3px 10px;
	cursor: pointer;
}

input[type=submit]:hover {
	box-shadow: 0 0 3px #34AFDA;
}

input[type=submit]:active {
	padding: 4px 10px 2px 10px;
}

.user input {
	margin-bottom: 10px;
	width: 253px;
}

.user input[type=submit] {
	float: right;
	width: 100px;
}

.user .info {
	float: left;
}

.user .info ul {
	list-style-type: square;
	margin: 5px 0 0 12px;
}

.user .info ul li {
	margin-bottom: 4px;
}

.user a.logout {
	float: right;
	text-decoration: none;
	color: #34AFDA;
}

.user a.logout:hover {
	text-decoration: underline;
}

.menu {
	width: 100%;
	border-bottom: 1px solid #34AFDA;
	margin-bottom: 30px;
	padding-bottom: 30px;
	clear: both;
}

.menu ul {
	list-style-type: none;
}

.menu ul li a {
	float: left;
	display: block;
	padding: 0px 20px;
	line-height: 29px;
	margin-right: 5px;
	background: #F1F8FB;
	border-top: 1px solid #34AFDA;
	border-left: 1px solid #34AFDA;
	border-right: 1px solid #34AFDA;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FFF;
	color: #34AFDA;
}

.menu ul li a:hover, .menu ul li a.active {
	background: #fff;
	padding-bottom: 1px;
}

.menu ul li a:active {
	padding-top: 1px;
}

.menu ul li a.active:hover {
	color: #FF6000;
}

.alert-login {
	background: url('img/alert_login.png');
	width: 680px;
	height: 83px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.alert-login img {
	float: left;
	margin: 13px 0 0 15px;
}

.alert-login p {
	float: left;
	font-family: Arial;
	font-size: 16px;
	line-height: 25px;
	margin: 12px 15px;
}

.alert-login a {
	display: block;
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	background: #FF6000;
	border: 1px solid #c64b00;
	float: right;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px #8d3500;
	padding: 10px 20px;
	margin: 20px 15px;
}

.alert-login a:hover {
	box-shadow: 0 0 5px #FF6000;
}

.alert-login a:active {
	padding: 11px 20px 9px 20px;
}

.box {
	float: left;
	margin-bottom: 50px;
}

.box .line {
	border-bottom: 1px solid #34AFDA;
	margin-bottom: 20px;
}

.box h2 {
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;
	color: #34AFDA;
	margin-bottom: -8px;
	background: #FFF;
	display: inline-block;
	padding-right: 5px;
}

.box h3 {
	font-weight: bold;
	font-family: Arial;
	font-size: 16px;
	text-transform: uppercase;
	clear: both;
}

.box a {
	color: #555;
	text-decoration: none;
}

.box a:hover {
	color: #34AFDA;
}

.box a.image {
	float: left;
	margin-right: 10px;
	width: 180px;
	height: 180px;
	border: 1px solid #DBEFF6;
	padding: 10px;
	display: block;
}

.box a.image:hover {
	border: 1px solid #34AFDA;
}

.box a.image img {
	margin: 0 auto;
	display: block;
}

.box a.image .imagebox {
	width: 180px;
	height: 140px;
	display: block;
	margin-bottom: 10px;
}

.box a .editor {
	color: #999;
	text-transform: uppercase;
	font-family: Arial;
}

.box .numbox {
	border: 1px solid #34AFDA;
	width: 85px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}

.box .vert .numbox {
	margin-bottom: 23px;
	float: right;
}

.box .vert .numbox:last-child {
	margin-bottom: 0;
}

.box .horiz .numbox {
	margin-right: 19px;
	margin-bottom: 10px;
	float: left;
}

.box .horiz .numbox:last-child {
	margin-right: 0;
}

.box .numbox h4 {
	font-family: Arial;
	font-size: 11px;
	background: #34AFDA;
	color: #FFF;
	padding: 1px 0;
}

.box .numbox span {
	line-height: 35px;
	font-family: Arial;
	font-weight: bold;
	padding: 5px;
}

.box table {
	border-collapse: collapse;
	width: 100%;
}

.box table tr {
	background: rgba(241, 248, 251, 0.5);
}

.box table tr:nth-child(odd) {
	background: #F1F8FB;
}

.box table td, .box table th {
	padding: 5px;
	border: 1px solid #FFF;
}

.box table th {
	background: #DBEFF6;
}

.box3 {
	width: 300px;
	margin-right: 30px;
}

.box3:nth-child(3n+3) {
	margin-right: 0;
}

.addproduct {
	display: none;
	border: 1px solid #34AFDA;
	margin-bottom: 30px;
	padding: 10px;
	width: 938px;
}

.addproduct legend {
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	color: #34AFDA;
	padding: 0 5px;
}

.addproduct input, .addproduct select {
	margin-right: 40px;
}

.addproduct input {
	width: 300px;
	height: 15px;
}

.addproduct input.number {
	width: 75px;
	text-align: right;
}

.addproduct .fixed {
	height: 30px;
}

.addproduct .optional {
	margin-top: 10px;
	float: left;
}

.addproduct input[type=submit] {
	width: 100px;
	float: right;
	margin-right: 0;
	margin-top: 10px;
	height: auto;
}

.addproduct input[type=checkbox] {
	margin: 0 0 0 -40px;
	width: 20px;
	vertical-align: -2px;
}

.addproduct .tipo {
	float: right;
}

.ok {
	background: #CBFF87;
	width: 940px;
	padding: 10px;
	color: #488000;
	margin-bottom: 30px;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
}

.ok img {
	vertical-align: -3px;
	margin-right: 5px;
}